VITE_API_URL=https://clubfigth-e9ffa5bjeeb4bvb7.brazilsouth-01.azurewebsites.net
VITE_API_LOBBY_URL=https://lobbyservices-f7dghrebachxetg4.mexicocentral-01.azurewebsites.net
VITE_API_FIGHT_URL=https://fightclubservice-b4bye5fxhec7hzhn.mexicocentral-01.azurewebsites.net
VITE_API_VOICE_CHAT_URL=https://lamentaciones-voice-chat-a7czbaa5h3drb6gv.canadacentral-01.azurewebsites.net
